*.bin
*.cue
*.iso
disk/

.splat/

build/

__pycache__
*.pyc
.venv/
venv/


asm/
bin/
linker_scripts/**/auto
linker_scripts/**/hit_and_run.*.ld
linker_scripts/**/hit_and_run.*.d
*.o

ctx.c
ctx.c.m2c

.vscode/settings.json
